@font-face {
    font-family: "PassionOne-Regular"; 
    src: url("../fonts/PassionOne-Regular.ttf");
}

@font-face {
    font-family: "PassionOne-Bold";
    src: url("../fonts/PassionOne-Bold.ttf");
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

body{
    font-family: 'PassionOne-Regular';
    background-color: rebeccapurple;
}